* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.ant-row {
  &.content-wrap {
    .ant-space {
      width: 100%;
    }
    .ant-col {
      border: 1px solid;
      width: 100%;
    }

    .menu-wrap {
      h3 {
        padding: 0.5rem 1rem;
        cursor: pointer;
      }
    }

    .nav-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      div {
        height: 50px;
        display: inherit;
        justify-content: center;
        align-items: center;
      }
    }

    .naiyou-wrap {
      height: 50vh;
      padding: 1rem 2rem;
      line-height: 1.8;
    }
  }
}

.container-btn-style {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .box {
    display: flex;

    &-blocks {
      display: block;
      width: 100%;

      input {
        padding: 10px 20px;
      }
    }
    &-style {
      display: block;
      border: 1px solid;
      input {
        padding: 10px 20px;
      }
    }
  }
}

.text {
  &-bold {
    font-weight: 700;
    &__orgRd {
      color: orangered;
    }
  }
}

.blue {
  color: palegreen;
}
